<?xml version = "1.0"?>

<launch>

<group ns="robot_sx">

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
  
  <include file="$(find human_baxter_collaboration)/launch/move_group.launch" />
 
</group>

<group ns="robot_dx">

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
  
  <include file="$(find human_baxter_collaboration)/launch/move_group.launch" />
 
</group>

</launch>